* {
	padding: 0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

.container {
	background-color: #AF261B;
}

.container__box {
	display: flex;
	flex-direction: row;
}

.header {
	width: 145px;
	margin-left: 10px;
}

.header__logo {
	background-color: #CF7304;
	width: 120px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__nav {
	color: #FFFFFF;
	font-size: 20px;
	text-transform: uppercase;
}

.header__nav div:nth-child(1) {
	background-color: #51803A;
}

.header__nav div:nth-child(2) {
	background-color: #C2C207;
}

.header__nav div:nth-child(3) {
	background-color: #BBA369;
}

.header__nav div:nth-child(4) {
	background-color: #49C482;
}

.header__nav div:nth-child(5) {
	background-color: #077330;
}

.header__nav--box {
	width: 120px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__nav--box img {
	padding: 10px;
	width: 40px;
	height: 40px;
}

.header__nav--box a {
	color: #FFFFFF;
	text-decoration: none;
}

.header__icon {
	background-color: #CF7304;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 645px;
}

.header__icon--img {
	padding: 10px;
	opacity: 0.4;
}

.main {
	background-color: #51803A;
	width: 100%; 
}

.section__divOne {
	margin: 30px 5px 0 10px;
	background-color: #ffffff;	
	display: flex;
	flex-direction: column;
}

.section__divOne h3 {
	color: #7D4311;
	font-size: 20px;
	
}

.section__divOne p {
	color: #7D4311;
	line-height: 30px;
}

.section__divOne span:nth-child(1) {
	color: #7EABDF;
}

.section__divOne span:nth-child(2) {
	color: #098B3E;
}

.section__divOne span:nth-child(3) {
	color: #CA4509;
}

.section__divOne--box {
	margin: 15px;	
}

.section__divTwo img {
	width: 98%;
	min-width: 168px;
	margin-left: 8px;
}

.section__divThree {
	background-color: #ffffff;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section__divThree--block {
	margin: 10px auto auto 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__divThree--block img {
	width: 98%;
	min-width: 168px;
}

.section__divThree--h3 {
	margin-top: 20px;
}

.section__divThree--h3 a {
	color: #01B131;
	font-family: 'Kavivanar', cursive;
	text-decoration: none;
}

.section__divThree--h3 a:hover {
	text-decoration: underline;
}

.section__divThree--p {
	width: 90%;
	color: #7D4311;
	font-size: 14px;
	margin-top: 20px;
	line-height: 20px;
}

.section__divThree--a {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section__divThree--a a {
	color: #A61F00;
	font-size: 18px;
	text-decoration: none;
}

.section__divThree--a a:hover {
	text-decoration: underline;
}

.footer__title {
	font-size: 12px;
	color: #FFFFFF;
	margin: 10px 0 0 10px;
}

.footer__title p {
	padding: 5px;
}

.footer__menu {
	color: #ffffff;
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}

.footer__menu p {
	padding: 5px;
}

.footer__menu a {
	color: #ffffff;
	text-decoration: none;
}



@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	.header {margin-left: 120px;}
	.section__divOne h3 {font-size: 25px; }
	.footer__title {margin: 40px 0 0 30px;}
	.footer__menu {display: flex; flex-direction: row; margin: 40px 0 0 30px;}
	.footer {display: flex; flex-direction: row; justify-content: space-between; width: 90%; margin: 0 0 40px 30px;}
	.footer__menu p {border-right: 1px solid #FFFFFF;}
	.footer__menu p:nth-child(5) {border-right: none;}
}

@media (min-width: 1024px) {
	.section__divOne {margin: 30px 0 0 30px; width: 90%; height: 300px; 
		display: flex; flex-direction: row; align-items: center;}
	.section__divOne h3 {line-height: 40px;}
	.section__divTwo img {width: 93%; margin-left: 14px;}
	.section__divTwo {width: 100%}

	.section__divThree {margin-left: 30px; width: 90%; display: flex; flex-direction: row;}
	.section__divThree--block {margin: 20px 20px 20px 60px; display: flex; flex-direction: column; align-items: flex-start;}
	.section__divThree--block img {width: 100%;}
}