.main {
	background-color: #C2C207;
	
}





@media (min-width: 400px) {
	.container {width: 100%; margin: 0 auto}
}

@media (min-width: 768px) {
	.header {margin-left: 120px;}
	.footer__title {margin: 40px 0 0 30px;}
	.footer__menu {display: flex; flex-direction: row; margin: 40px 0 0 30px;}
	.footer {display: flex; flex-direction: row; justify-content: space-between; width: 90%; margin: 0 0 40px 30px;}
	.footer__menu p {border-right: 1px solid #FFFFFF;}
	.footer__menu p:nth-child(5) {border-right: none;}
}

@media (min-width: 1024px) {
	
}